@use '../utilities' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  @include centering();
  font-family: $font-inter;
  font-size: rem(15);
  background: $very-dark-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
