@use '../utilities' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: $dark-desaturated-blue;

  // width: 100%;
  padding: rem(60) rem(100) rem(60) rem(60);

  &__heading {
    color: $white;
    margin-bottom: rem(22);
    h1 {
      font-family: $font-inter;
      font-weight: 700;
      font-size: rem(37);

      span {
        color: $soft-violet;
      }

      @include breakpoint-max(Mobile) {
        font-size: rem(30);
        text-align: center;
      }
    }
  }

  &__paragraph {
    margin-bottom: rem(60);
    p {
      font-family: $font-inter;
      color: $slightly-transparent-white;
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(25);

      @include breakpoint-max(Mobile) {
        text-align: center;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;

    &__info {
      padding-right: rem(50);

      h2 {
        color: $white;
        font-weight: 700;
        font-size: rem(23);

        @include breakpoint-max(Mobile) {
          font-size: rem(25);
          text-align: center;
          margin-bottom: rem(10);
          font-weight: 700;
        }
      }

      p {
        font-family: $font-lexend-deca;
        color: $slighytly-transparant-white2;
        text-transform: uppercase;
        font-size: rem(12);
        letter-spacing: rem(1);

        @include breakpoint-max(Mobile) {
          text-align: center;
          margin-bottom: rem(30);
        }
      }
    }

    @include breakpoint-max(Tablet) {
      // padding-right: 0;
    }

    @include breakpoint-max(Mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @include breakpoint-max(Mobile) {
    padding: rem(50);
  }
}
