// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
$font-inter: "inter", sans-serif;

// Lexend Deca
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
$font-inter: "Lexend Deca", sans-serif;
