@use '../utilities' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $font-redHatDisplay;
}

body {
  @include centering();
  background: $pale-blue url("../../images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
