@use '../utilities' as *;

.container {
  display: flex;
  border-radius: rem(5);
  overflow: hidden;
  margin: 0 rem(200);

  @include breakpoint-max(Tablet) {
    margin: rem(80) rem(215);
    flex-direction: column-reverse;
  }

  @include breakpoint-max(Mobile) {
    margin: rem(80) rem(20);
    flex-direction: column-reverse;
  }
}
