@use '../utilities' as *;

.main {
  @include centering();
  display: flex;
  flex-direction: column;
  padding: rem(30);

  &__content {
    padding-bottom: rem(20);
    &__title {
      margin-bottom: rem(18);

      h1 {
        color: $dark-blue;
        text-align: center;
        font-size: rem(23);
        font-weight: 900;
      }
    }

    &__description {
      text-align: center;
      margin-bottom: rem(18);

      p {
        font-size: rem(14);
        padding: rem(5) rem(40);
        color: $desaturated-blue;
        line-height: rem(25);

        @include breakpoint-max(Mobile) {
          padding: rem(5) rem(10);
        }
      }
    }

    &__plan {
      display: grid;
      grid-template-columns: 1fr 4fr;
      width: 100%;
      border-radius: rem(10);
      background: $very-pale-blue;
      padding: rem(15) rem(20);
      align-items: left;

      &__icon {
        @include breakpoint-max(Mobile) {
          margin-right: rem(13);
        }
      }

      &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__price {
          display: flex;
          //   flex-wrap: wrap;
          flex-direction: column;
          align-content: space-between;
          justify-content: space-between;

          h4 {
            font-size: rem(14);
            font-weight: 900;
            color: $dark-blue;
            margin-bottom: rem(5);
          }
          p {
            font-size: rem(13.5);
            color: $desaturated-blue;
          }

          @include breakpoint-max(Mobile) {
            h4 {
              font-size: rem(13);
            }

            p {
              font-size: rem(13);
            }
          }
        }

        &__link {
          a {
            font-size: rem(13);
            font-weight: 700;
            color: $bright-blue;
            text-decoration: underline;

            &:hover {
              color: $desaturated-blue;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &__button {
    display: block;
    background: $bright-blue;
    width: 100%;
    font-size: rem(13);
    font-weight: 700;
    border-radius: rem(10);
    padding: rem(14) rem(28);
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-bottom: rem(25);
    box-shadow: 2px 10px 20px rgba($color: $bright-blue, $alpha: 0.4);

    &:hover {
      background: lighten($color: $bright-blue, $amount: 10%);
    }
  }

  &__cancel {
    a {
      font-size: rem(12);
      color: $darker-bright-blue;
      font-weight: 700;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}
